services:
  backend:
    build: ./backend-web
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/rahasia_dapur_fix
      - JWT_SECRET=rahasia_dapur_pkk_secret_key_123
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build: ./frontend-web
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE_URL=http://localhost:5000/api
    depends_on:
      - backend
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
